*.swp
*.swo
*.bak

build/
build*/
release/
cscope*
tags*
build_debug/
build_release/
.idea/
build/
cmake-build-debug/
cmake-build-debug-remote-host/
.vscode/

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

